# Node.js Expenses App Config
PORT=3000
NODE_DB_HOST=127.0.0.1
NODE_DB_PORT=3306
NODE_DB_USER=sargtech_sarg
NODE_DB_PASSWORD=your_password_here
NODE_DB_NAME=sargtech_testbase
SESSION_SECRET=sargtech_super_secret_session_key_123!
